@use '../../base' as *;

.experiance {
  border: 3px solid $experiance-border-color;
  border-radius: 9px;
  display: flex;
  margin-block-end: 20px;
  padding-block: 21px 23px;
  padding-inline: 26px 10px;
  row-gap: 20px;

  &__logo {
    border: 2px solid $experiance-border-color;
    border-r
  }

  &__description {


  }
}