@use '../../base' as *;

.experiance {
  border: 3px solid $experiance-border-color;
  border-radius: 9px;
  margin-block-end: 20px;
  padding-block: 21px 23px;
  padding-inline: 26px 10px;

  &__description {
    display: flex;
    gap-row: 20px;
  }
}