@use '../../base' as *;

.contact {
  &__heading {
    color: var(--black);
    font: 700 28px $poppins;
    margin-block-end: 43px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    flex-direction: column;
    color: var(--black);
    font: 500 20px $poppins;
    row-gap: 5px;
  }

  &__input,
  &__message {
    background-color: var(--white);
    border: 2px solid var(--mine-color);
    border-radius: 7px;
    color: var(--black);
    font-size: 20px;
    margin-block-end: 30px;
  }

  &__input {
    height: 55px;
    padding-inline: 20px;
  }

  &__message {
    resize: none;
    max-height: 178px;
    padding-inline: 20px;
  }

  &__submit {
    color: var(--white);
    background-color: var(--gold);
    border: 2px solid var(--mine-color);
    border-radius: 7px;
  }
}