@use '../../base' as *;

.projects {

   &__heading {
      color: var(--black);
      font: 700 28px 'Poppins';
      margin-block-end: 28px;
   }

   &__grid {
      display: flex;
      flex-wrap: wrap;
      gap: 24px 53px;
      margin-inline: 28px;
   }

   &__item {
      background-color: var(--sand-light);
      border: 2px solid var(--gold);
      border-radius: 9px;
      padding-block: 20px 16px;
      padding-inline: 19px;
   }

   &__title {
      color: var(--black);
      font: 700 18px 'Poppins';
   }

   &__image {
      margin-block-end: 13px;
   }
}