@use '../../base' as *;

.data {
  padding: 21px;
  max-width: 284px;
  width: 100%;

  &__icon-wrapper {
    align-items: center;
    background-color: $data-image-bg;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    height: 35px;
    width:35px;
  }

  &__content {
    font: 'Inter'
  }
}