@use '../../base' as *;

.data {
  background-color: $sand-light;
  border-radius: 12px;
  padding: 21px;
  margin-block-end: 30px;
  max-width: 284px;
  width: 100%;

  &__item {

    align-items: center;
    display: flex;

    &:nth-child(n+2) {
      padding-block-start: 11px;
    }

    &:nth-last-child(n+2) {
      border-bottom: 1px solid $border-color;
      padding-block-end: 11px;
    }
  }

  &__icon-wrapper {
    align-items: center;
    background-color: $data-image-bg;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    margin-inline-end: 20px;
    height: 35px;
    width:35px;
  }

  &__content {
    display: inline;
    font: 500 15px 'Inter';
  }
}