@use '../../base' as *;

.social {
  display: flex;
  justify-content: space-between;


  &--contacts {
      margin-block-end: 35px;
      max-width: 234px;
      width: 100%;
  }

  &-item {

    height: 34px;
    width: 34px;
  }

  &__item--github,
  &__item--hi {
    color: var(--black);
  }
}

  .theme--dark .social {

      &__item--github,
      &__item--hi {
      color: var(--black-muted);
    }
  }

