@use '../../base' as *;

.contacts {
  align-items: center;
  background-color: var(--white);
  border: 3px solid var(--gold);
  border-radius: 13px;
  display: flex;
  flex-basis: 369px;
  flex-direction: column;
  justify-content: center;
  max-width: 369px;
  margin-block-start: 81px;
  padding-block-end: 33px;

  &__user-picture {
    border: 5px solid var(--gold);
    border-radius: 14px;
    display: inline-block;
    margin-top: -66px;
    max-width: 200px;
    overflow: hidden;
  }

  &__user-name {
    color: var(--black);
    font: 700 26px 'Inter';
    letter-spacing: 0.5px;
    margin-block: 10px 8px;
  }

  &__profession {
    background-color: var(--sand);
    border: 1px solid var(--gold);
    border-radius: 6px;
    color: var(--black);
    display: inline-block;
    font: 500 16px 'Inter';
    margin-block-end: 34px;
    padding-block: 9px;
    padding-inline: 20px;
  }
}