@use '../../base' as *;

.contacts {
  align-items: center;
  background-color: var(--white);
  border: 3px solid var(--gold);
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block-start: 81px;
  padding-block-end: 33px;


  &__user-picture {
    border: 5px solid var(--gold);
    border-radius: 14px;
    display: inline-block;
    margin-top: -66px;
    max-width: 200px;
    overflow: hidden;
  }

  &__user-name {
    color: var(--black);
    font: 700 26px 'Inter';
    letter-spacing: 0.5px;
    margin-block: 10px 8px;
    text-align: center;
  }

  &__profession {
    background-color: var(--sand);
    border: 1px solid var(--gold);
    border-radius: 6px;
    color: var(--black);
    display: inline-block;
    font: 500 16px 'Inter';
    margin-block-end: 34px;
    padding-block: 9px;
    padding-inline: 20px;
  }
}


@media screen and (max-width: $screen__xs-400) {
  .contacts {
    width: 302px;
  }
}

@media screen and (min-width: $screen__xxs) {
  .contacts {
    width: 320px;
  }
}

@media screen and (min-width: $screen__xs) {
  .contacts {
    width: 396px;
  }
}


@media screen and (min-width: $screen__l) {
  .contacts {
    flex-shrink: 0;
    position: sticky;
    top: 66px;
    width: 320px;
  }
}

@media screen and (min-width: $screen__xl) {
  .contacts {
    width: 396px;
  }
}
