@use '../../base' as *;

.education-section {
  margin-block-end: 32px;

  &__heading {
    font: 700 28px 'Poppins';
    margin-block-end: 20px;
  }

  &__description {
    padding-block: 21px 23px;
    padding-inline: 26px 10px;
  }
}