@use '../../base' as *;

.skills {
  display: flex;
  flex-wrap: wrap;

  &__item {
    align-items: center;
    border: 1px solid $skills-border-color;
    border-radius: 8px;
    display: flex;
    font: 500 19px 
    flex-wrap: wrap;
    justify-content: center;
    height: 79px;
    width: 85px;
  }
}