@use '../../base' as *;

.skills {
  display: flex;
  flex-wrap: wrap;

  &__item {

    font: 500 19px 'Poppins';
    flex-wrap: wrap;
    justify-content: center;
  }
   
  &__image-wrapper {
    align-items: center;
    border: 1px solid $skills-border-color;
    border-radius: 8px;
    display: flex;
    justify-content:
    height: 79px;
    width: 85px;
  }

  &__image {


  }
}