@use '../../base' as *;

.skills {
  align-items: center;
  gap: 22px 26px;
  display: flex;
  flex-wrap: wrap;

  &__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    font: 500 19px 'Poppins';
    flex-wrap: wrap;
    justify-content: center;
  }
   
  &__image-wrapper {
    align-items: center;
    border: 1px solid $skills-border-color;
    box-shadow: 0 0 8px 2px $skills-shadow-color;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin-block-end: 8px;
    height: 79px;
    width: 85px;
  }

  &__image {


  }
}