@use '../../base' as *;

.education {
  display: flex;
  gap: 38px;

  &__item {
    border: 3px solid var(--gold);
    border-radius: 9px;
    flex-grow: 1;
    max-width: 352px;
    padding-block: 14px 17px;
    padding-inline: 17px 10px;
  }

  &__heading {
    color: var(--black);
    font: 400 18px 'Poppins';
    margin-block-end: 6px;
  }

  &__institution {
    color: var(--black);
    font: 600 18px 'Poppins';
    margin-block-end: 8px;
  }

  &__degree {
    color: var(--black);
    font: 400 18px 'Poppins';
  }
}