.header {
  display: flex;
  justify-content: space-between;
  margin-block: 36px 41px;
  min-height: 62px;
}

.logo {
  color: #9d8640;
  font-family: "Sigmar One", sans-serif;
  font-size: 38px;
}

.theme-toggle {
  border-radius: 50%;
  height: 59px;
  width: 59px;
}
.theme-toggle-light {
  background: #b7a261 url("../../images/icon/lite-mode.svg") no-repeat 20px 17px;
}
.theme-toggle-dark {
  background: url("../../images/icon/dark-mode.svg");
}

body {
  background-color: #fef6dd;
}

.main-conteiner {
  max-width: 1511px;
  margin: 0 auto;
}

.contacts {
  align-items: center;
  border: 3px solid #b7a261;
  border-radius: 13px;
  display: flex;
  flex-basis: 369px;
  flex-direction: column;
  max-width: 369px;
  margin-block-start: 101px;
  padding-block-end: 35px;
}
.contacts--light {
  background-color: #fff;
}
.contacts__user-picture {
  border: 5px solid #b7a261;
  border-radius: 14px;
  display: inline-block;
  margin-top: -66px;
  max-width: 200px;
}
.contacts__user-name {
  font: 700 26px "Inter";
  letter-spacing: 0.5px;
  margin-block: 10px 8px;
}
.contacts__profession {
  background-color: #fef6dd;
  border: 1px solid #b7a261;
  border-radius: 6px;
  display: inline-block;
  font: 500 16px "Inter";
  margin-block-end: 34px;
}
.contacts__profession--light {
  padding-block: 9px;
  padding-inline: 20px;
}

.social {
  display: flex;
  justify-content: space-between;
  margin-block-end: 40px;
  max-width: 234px;
  width: 100%;
}
.social-item {
  height: 34px;
  width: 34px;
}
.data {
  background-color: #f9f6ea;
  border-radius: 12px;
  padding: 21px;
  margin-block-end: 30px;
  max-width: 284px;
  width: 100%;
}
.data__item:nth-child(n+2) {
  padding-block-start: 11px;
}
.data__item:nth-last-child(n+2) {
  border-bottom: 1px solid #e0ddd3;
  padding-block-end: 11px;
}
.data__icon-wrapper {
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  margin-inline-end: 20px;
  height: 35px;
  width: 35px;
}
.data__content {
  display: inline;
  font: 500 15px "Inter";
}

.button {
  background-color: #e0ce93;
  border: 2px solid #b7a261;
  border-radius: 8px;
  font: 700 21px "Merriweather Sans";
  padding-block: 12px;
  padding-inline: 31px;
}

.content {
  align-items: center;
  border: 3px solid #b7a261;
  border-radius: 13px;
  max-width: 912px;
  padding-block: 34px 29px;
  padding-inline: 40px;
}

.main {
  display: flex;
  gap: 0 52px;
  padding-block-end: 38px;
}

.about__title {
  font: 700 1.75rem "Poppins";
  margin-block-end: 10px;
}
.about__text {
  font: 400 1.125rem "Poppins";
  padding-block-end: 20px;
}

.services__item-wrapper {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 34px 28px;
}
.services__item {
  background-color: #fdf4f4;
  border: 3px solid #b7a261;
  border-radius: 9px;
  display: flex;
  overflow: hidden;
  max-width: 389px;
}
.services__title {
  font: 700 1.5rem "Poppins";
  text-transform: capitalize;
}
.services__item-text {
  color: #685d5d;
  font: 500 0.8125rem "Poppins";
  margin-block-start: 13px;
}
.services__item-title {
  font: 700 1rem "Inter";
}
.services__item-description {
  padding-block: 18px;
  padding-inline: 15px;
}/*# sourceMappingURL=styles.css.map */