@use '../../base' as *;

.projects {

		&__title {
      font: 18px 
		}

		&__grid {
      display: flex;
      flex-wrap: wrap;
      column-gap: 53px;
		}

		&__item {
      background-color: $projects-bg-color;
      border: 2px solid $projects-border-color;
      border-radius: 9px;
      padding-block: 22px;
      padding-inline: 21px;
		}

		&__image {
		}
}
