@use '../../base' as *;

.projects {

		&__title {
		}

		&__grid {
		}

		&__item {
      background-color: $projects-bg-color
      padding-block: 22px;
      padding-inline: 21px;
		}

		&__image {
		}
}
