@use '../../base' as *;

.tools {
  align-items: center;
  gap: 24px 26px;
  display: flex;
  flex-wrap: wrap;
  margin-inline-start: 11px;

  &__item {
    align-items: center;
    color: var(--black);
    display: flex;
    flex-direction: column;
    font: 500 19px 'Poppins';
    flex-wrap: wrap;
    justify-content: center;
  }

  &__image-wrapper {
    align-items: center;
    border: 1px solid var(--gold);
    box-shadow: 0 0 8px 2px var(--yellow);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin-block-end: 8px;
    height: 79px;
    width: 85px;
  }
}
