@use '../../base' as *;

.nav {
  background-color: $nav-bg;
  border: 3px solid $nav-border-color;
  border-radius: 15px;
  padding-block: 30px;
  padding-inline: 25px;

&__item {
  background-color: $nav-item-bg;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

&__item-link {
  
}
  
}