@use '../../base' as *;

.nav {
  background-color: $nav-bg;
  border: 3px solid $nav-border-color;
  border-radius: 15px;
  padding-block: 30px;
  padding-inline: 25px;

  &__item-link {
    align-items: center;
    background-color: $nav-item-bg;
    border-radius: 6px;
    display: flex;
    font: 500 getRem(12) 'Poppins';
    flex-direction: column;
    justify-content: center;
    height: 66px;
    g
    width: 71px;
  }
}