@use '../../base' as *;

.nav {
  background-color: $nav-bg;
  border: 3px solid $nav-border-color;
  border-radius: 15px;
  padding-block: 30px;
  padding-inline: 25px;

  &__items {
    display: flex;
    gap: 24px;
    flex-direction: column;
  }

  &__item {
    &-about::before {
      background: url('../../../images/nav/user.svg');
      content: "";
      display: block;
      height: 25px;
      width: 25px;
		}

		&-experiance {
      &::before {
        background: url('../../../');
        content: "";
      }
		}

		&-projects {
      &::before {
        background: url('../../../');
      }
		}

		&-skills {
      &::before {
        background: url('../../../');
      }
		}

		&-contact {
      &::before {
        background: url('../../../');
      }
		}
  }
 
  &__item-link {
    align-items: center;
    background-color: $nav-item-bg;
    border-radius: 6px;
    display: flex;
    font: 500 getRem(12) 'Poppins';
    flex-direction: column;
    justify-content: center;
    height: 66px;
    width: 71px;

    &--active {
      background-color: $nav-active-bg;
    }
  }
}
