@use '../../base' as *;

.nav {
  background-color: $nav-bg;
  border: 3px solid $nav-border-color;
  border-radius: 15px;
  padding-block: 30px;
  padding-inline: 25px;

  &__items {
    display: flex;
    gap: 24px;
    flex-direction: column;
  }
 
  &__item-link {
    align-items: center;
    background-color: $nav-item-bg;
    border-radius: 6px;
    display: flex;
    font: 500 getRem(12) 'Poppins';
    flex-direction: column;
    justify-content: center;
    height: 66px;
    width: 71px;

    &--active {
      background-color: $nav-active-bg;
    }
  }
nav__item-about
    &__item-about {
      &::before {
        display: block;
        background: url('../../../images/nav/user.svg');
        height: 20px;
        width: 20px;
      }
		}

		&__item-experiance {
      &::before {
        background: url('../../../');
      }
		}

		&__item-projects {
      &::before {
        background: url('../../../');
      }
		}

		&__item-skills {
      &::before {
        background: url('../../../');
      }
		}

		&__item-contact {
      &::before {
        background: url('../../../');
      }
		}
}