@use '../../base' as *;

.nav {
  background-color: $nav-bg;
  border: 3px solid $nav-border-color;
  border-radius: 15px;
  padding-block: 30px;
  padding-inline: 25px;

  &__items {
    display: flex;
    gap: 24px;
    flex-direction: column;
  }

  &__item-link {
    align-items: center;
    background-color: $nav-item-bg;
    border-radius: 6px;
    display: flex;
    font: 500 getRem(12) 'Poppins';
    flex-direction: column;
    justify-content: center;
    height: 66px;
    width: 71px;
  }

  &__item {
    &-about {
      &::before {
        background: url('../../../images/nav/user.svg') no-repeat center / contain;
        content: "";
        display: block;
        height: 25px;
        width: 25px;
        margin-blick-end: ;
		  }
    }

		&-experiance {
      &::before {
        background: url('../../../images/nav/viewList.svg') no-repeat center / contain;
        content: "";
        display: block;
        height: 26px;
        width: 25px;
      }
		}

		&-projects {
      &::before {
        background: url('../../../images/nav/laptop.svg') no-repeat center / contain;
        content: "";
        display: block;
        height: 21px;
        width: 29px;
      }
		}

		&-skills {
      &::before {
        background: url('../../../images/nav/securityScan.svg') no-repeat center / contain;
        content: "";
        display: block;
        height: 27px;
        width: 27px;
      }
		}

		&-contact {
      &::before {
        background: url('../../../images/nav/contactsBook.svg') no-repeat center / contain;
        content: "";
        display: block;
        height: 26px;
        width: 26px;
      }
		}
    //
    &-about--active {
      background-color: $nav-active-bg;
      color: $nav-item-active-bg;
      font-weight: 700;

      &::before {
        background: url('../../../images/nav/user_active.svg') no-repeat center / contain
		  }
    }

		&-experiance--active {
      &::before {
        background: url('../../../images/nav/viewList_active.svg') no-repeat center / contain
      }
		}

		&-projects--active {
      &::before {
        background: url('../../../images/nav/laptop_active.svg') no-repeat center / contain
      }
		}

		&-skills--active {
      &::before {
        background: url('../../../images/nav/securityScan_active.svg') no-repeat center / contain
      }
		}

		&-contact--active {
      &::before {
        background: url('../../../images/nav/contactsBook_active.svg') no-repeat center / contain;
      }
		}
  }

  &--vertical {
    margin-block-start: 141px;
  }
}
