@use '../../base' as *;

.nav {
  background-color: $nav-bg;
  border: 3px solid $nav-border-color;
  border-radius: 15px;
  padding-block: 30px;
  padding-inline: 25px;

  &__items {
    display: flex;
    gap: 24px;
    flex-direction: column;
  }

  &__item {
    &-about {
      &::before {
        background: url('../../../images/nav/user.svg') no-repeat center / contain;
        content: "";
        display: block;
        height: 25px;
        width: 25px;
		  }
    }

		&-experiance {
      &::before {
        background: url('../../../images/nav/viewList.svg') no-repeat center / contain;
        content: "";
        display: block;
        height: 26px;
        width: 25px;
      }
		}

		&-projects {
      &::before {
        background: url('../../../images/nav/laptop.svg') no-repeat center / contain;
        content: "";
        display: block;
        height: 21px;
        width: 29px;
      }
		}

		&-skills {
      &::before {
        background: url('../../../images/nav/securityScan.svg') no-repeat center / contain;
        content: "";
        display: block;
        height: 27px;
        width: 27px;
      }
		}

		&-contact {
      &::before {
        background: url('../../../images/nav/contactsBook.svg') no-repeat center / contain;
        content: "";
        display: block;
        height: 26px;
        width: 26px;
      }
		}
    //
        &-about--active {
      &::before {
        background: url('../../../images/nav/user.svg') no-repeat center / contain;
        content: "";
        display: block;
        height: 25px;
        width: 25px;
		  }
    }

		&-experiance--active {
      &::before {
        background: url('../../../images/nav/viewList.svg') no-repeat center / contain;
        content: "";
        display: block;
        height: 26px;
        width: 25px;
      }
		}

		&-projects--active {
      &::before {
        background: url('../../../images/nav/laptop.svg') no-repeat center / contain;
        content: "";
        display: block;
        height: 21px;
        width: 29px;
      }
		}

		&-skills--active {
      &::before {
        background: url('../../../images/nav/securityScan.svg') no-repeat center / contain;
        content: "";
        display: block;
        height: 27px;
        width: 27px;
      }
		}

		&-contact--active {
      &::before {
        background: url('../../../images/nav/contactsBook.svg') no-repeat center / contain;
        content: "";
        display: block;
        height: 26px;
        width: 26px;
      }
		}
  }
 
  &__item-link {
    align-items: center;
    background-color: $nav-item-bg;
    border-radius: 6px;
    display: flex;
    font: 500 getRem(12) 'Poppins';
    flex-direction: column;
    justify-content: center;
    height: 66px;
    width: 71px;

    &--active {
      
    }
  }
}
