// Fonts
$sigmarOne: 'Sigmar One', sans-serif;
$poppins: "Poppins", sans-serif;

$screen__xxl: 1440px;
$screen__xl: 1140px;
$screen__l: 1024px;
$screen__m: 767px;
$screen__s: 640px;
$screen__xs: 480px;
$screen__xs-400: 400px;
$screen__xxs: 375px; //320px

