@use '../../base' as *;

.content {
  align-items: center;
  background-color: $contats-bg;
  border: 3px solid $border-lite-color;
  border-radius: 13px;
  flex-grow: 1;
  max-width: 912px;
  padding-block: 26px 40px;
  padding-inline: 40px;
}