@use '../../base' as *;

.nav {
  background-color: var(--white);
  border: 3px solid var(--gold);
  border-radius: 15px;
  padding-block: 30px;
  padding-inline: 25px;

  &__items {
    display: flex;
    gap: 24px;
    flex-direction: column;
  }

  &__item-link {
    align-items: center;
    background-color: var(--sand-muted);
    border-radius: 6px;
    color: var(--black-menu-muted);
    display: flex;
    font: 500 getRem(12) 'Poppins';
    flex-direction: column;
    justify-content: center;
    height: 66px;
    width: 71px;

    &:hover{
      background-color: var(--gold);
      color: var(--white);
      font-weight: 700;
    }
  }

    &__item-link.active {
      background-color: var(--gold);
      color: var(--white);
      font-weight: 700;
    }

  &__item-skills-bg {
      color: var(--skills-bg);
  }
}
