@use '../../base' as *;

.contact {
  &__form {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__input {
    border: 2px solid $contact-border-color;
    border-radius: 7px;
  }

  &__submit {
    color: $contact-button-color;
    background-color: $contact-button-bg;
    border: 2px solid $contact-border-color;
    border-radius: 7px;
  }
}