@use '../../base' as *;

.contact {
  &__form {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  {
    border-radius: 7px;$contact-border-color;
  }
}