@use '../../base' as *;

.contact {
  &__heading {
    font: 700 28px 'Poppins', sans-serif;
    margin-block-end: 43px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    flex-direction: column;
    font: 500 20px 'Poppins', sans-serif;
    row-gap: 5px;
  }

  &__input {
    border: 2px solid $contact-border-color;
    border-radius: 7px;
    font-size: 20px;
    height: 55px;
    margin-block-end: 30px;
  }

  &__submit {
    color: $contact-button-color;
    background-color: $contact-button-bg;
    border: 2px solid $contact-border-color;
    border-radius: 7px;
  }

  &--button-right {
    padding-block: ;
  }
}
