@use '../../base' as *;

body {
    background-color: var(--sand);
}

.main {
  align-items: flex-start;
  display: flex;
  gap: 0 52px;
  padding-block-end: 38px;

  
}

.main-conteiner {
    max-width: 1511px;
    margin: 0 auto;
}
