@use '../../base' as *;

.social {
  display: flex;
  justify-content: space-between;
  marg
  max-width: 234px;
  width: 100%;

  &--contacts {
  }
}

.social-item {
  height: 34px;
  width: 34px;

  &--instagram {
  }
}