@use '../../base' as *;

.button {
  background-color: $button-bg;
  border: 2px solid $button-border;
  border-radius: 8px;
  font: 700 21px 'Merriweather Sans';
  padding-block: 8px;
  padding-inline: 31px;

  &--font-white {
    color: $white;
  }

        &--button-right {
          align-self: flex-end;
          background-color: $contact-button-bg;
          border: none;
          display: inline-block;
          margin-block-end: 78px;
          padding-block: 12px 11px;
          padding-inline: 62px;
        }
}

