@use '../../base' as *;

.header {
  display: flex;
  justify-content: space-between;
  margin-block: 36px 38px;
  min-height: 62px;
}

.logo-wrapper {
  color: var(--mine-color);
  font-family: $sigmarOne;
  font-size: 38px;
}

.logo {
  margin-inline-start: 150px;
  margin-block-start: 2px;
}

.theme-toggle {
  background: var(--gold) url('../../images/icon/theme-mode.svg') no-repeat var(--toggle-img);
  border-radius: 50%;
  height: 59px;
  margin-right: 234px;
  transition: all .3s;
  width: 59px;
}