@use '../../base' as *;

.content{
  align-items: center;
  border: 3px solid $border-lite-color;
  border-radius: 13px;
  max-width: 530px;
  padding-block: 34px 29px;

  &__title {
    font: 28 700;
  }
}