@use '../../base' as *;

.content{
    align-items: center;
    border: 3px solid $border-lite-color;
    border-radius: 13px;
    max-width: 530px;
    margin-block-start: 101px;
    padding-block-end: 35px ;
}