@use '../../base' as *;

.content{
    align-items: center;
    border: 3px solid $border-lite-color;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 369px;
    margin-block-start: 101px;
    padding-block-end: 35px ;
}