@use '../../base' as *;

.content{
  align-items: center;
  background-color: $contats-bg;
  border: 3px solid $border-lite-color;
  border-radius: 13px;
  max-width: 912px;
  padding-block: 34px 29px;
  padding-inline: 40px;
}