@use '../../base' as *;

.button {
  background-color: var(--gold-light);
  border: 2px solid var(--gold);
  border-radius: 8px;
  color: var(--white);
  font: 700 21px 'Merriweather Sans';
  padding-block: 8px;
  padding-inline: 31px;



  &--right {
    align-self: flex-end;
    background-color: var(--gold);
    border: none;
    display: inline-block;
    margin-block-end: 78px;
    padding-block: 12px 11px;
    padding-inline: 62px;
  }

  &:hover {
    background-color: var(--gold);
  }
}