@use '../../base' as *;

.education {
  display: flex;
  gap: 38px;

  &__item {
    border: 3px solid $education-border-color;
    border-radius: 9px;
    flex-grow: 1;
    max-width: 352px;
    padding-block: 14px;
    padding-inline: 17px 10px;
  }

  &__heading {
    font: 400 18px 'Poppins';
    margin-block-end: 6px;
  }

  &__institution {
    font: 600 18px 'Poppins';
  }

  &__degree {
    
  }
}