@use '../../base' as *;

.education {
  display: flex;
  gap: 38px;

  &__item {
    border: 3px solid $education-border-color;
    border-radius: 9px;
    flex-grow: 1;
    max-width: 352px;
padding-block: 14px;
padding-inline: 17px 13px;
  }

  &__heading {
    font: 400 18px 'Poppins';
  }

  &__institution {
    font: 600 18px 'Poppins';
  }
}