@use '../../base' as *;

.data {
  background-color: var(--sand-light);
  border-radius: 12px;
  padding: 21px;
  margin-block-end: 30px;
  max-width: 284px;
  width: 100%;

  &__item {
    align-items: center;
    display: flex;

    &:nth-child(n+2) {
      padding-block-start: 11px;
    }

    &:nth-last-child(n+2) {
      border-bottom: 1px solid var(--second-gray);
      padding-block-end: 10px;
    }
  }

  &__icon-wrapper {
    align-items: center;
    background-color: var(--gray);
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    margin-inline-end: 20px;
    height: 35px;
    width:35px;
  }

  &__content {
    color: var(--black-muted);
    display: inline;
    font: 500 15px 'Inter';
  }
}

.theme--dark {
  .data {
    &__icon {
      color: var(--black-muted);
    }

    &__icon-wrapper {
        background-color: var(--white);
    }
  }
} 