@use 'base' as *;

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
    min-height: 62px;
}

.logo {
    color: $logo-color;
    font-family: $sigmarOne;
    font-size: 38px;
}

.theme-toggle {
    background-color: $theme-button-bg;
    border-radius: 50%;
    height: 59px;
    width: 59px;

    &-light {
        background: url('../../images/icon/lite-mode.svg');
    }
}

