@use 'base' as *;

.logo {
    color: $logo-color;
    font-family: $sigmarOne;
    font-size: 38px;
}

.theme-toggle {
    background-color: $theme-button-bg;
    border-radius: 50%;
    height: 59px;
    width: 59px;
}

header {}