@forward 'blocks/contacts/contacts';
@forward 'blocks/social/social';
@forward 'blocks/data/data';
@forward 'blocks/button/button';
@forward 'blocks/content/content';
@forward 'blocks/main/main';
@forward 'blocks/about/about';
@forward 'blocks/services/services';
@forward 'blocks/nav/nav';
@forward 'blocks/header/header';
@forward 'blocks/educations/educations';
@forward 'blocks/education-section/education-section';
@forward 'blocks/experiance-section/experiance-section';
@forward 'blocks/expiriance/expiriance';
@forward 'blocks/projects/projects';
@forward 'blocks/skills-section/skills-section';
@forward 'blocks/skills/skills';
