@forward '_header';
@forward '_main';
@forward 'blocks/contacts/contacts';
@forward 'blocks/social/social';
@forward 'blocks/data/data';
@forward 'blocks/button/button';
@forward 'blocks/content/content';
@forward 'blocks/main/main';
@forward 'blocks/services/'
