@use 'base' as *;


body {
    background-color: $body-background;
}

.main-conteiner {
    max-width: 1511px;
    margin: 0 auto;
}

.contacts {
    border: 3px solid $border-lite-color;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    max-width: 396px;

    &--user-picture {
        border: 5px solid $border-lite-color;
        border-radius: 14px;
        margin-top: -63px;
    }
}