// Colors
$mine-color: #9d8640;
$gold: #b7a261;
$gold-light: #e0ce93;
$yellow: #f8df91;
$sand: #fef6dd;
$sand-light: #f9f6ea;
$light-pink: #fdf4f4;
$white: #fff;

$gray: #d9d9d9;
$second-gray: #e0ddd3;
$third-gray: #685d5d;

$border-lite-color: $gold;
$border-bold: 5px solid;
$border-normal: 3px solid;

// Fonts
$sigmarOne:  'Sigmar One', sans-serif;
$body-background: $sand;

//Header
$logo-color: $mine-color;
$theme-button-bg: $gold;

//Contats profession Block
$contatsProfessionBg: $sand;
$contats-bg: $white;

//Data block
$data-image-bg: $gray;
$border-color: $second-gray;

//button block
$button-bg: $gold-light;
$button-border: $gold;
$button-color-white: $white;



//services block
$services-border-color: $gold;
$services-bg: $light-pink;
$services-color: $third-gray;

//nav block
$nav-border-color: $gold;
$nav-bg: $white;
$nav-item-bg: $sand;
$nav-active-bg: $gold;
$nav-item-active-bg: $white;

//education block
$education-border-color: $gold;

//experiance block
$experiance-border-color: $gold;

//projects block
$projects-bg-color: $sand-light;
$projects-border-color: $gold;

//skills block
$skills-border-color: $gold;
$skills-shadow-color: $yellow;

// contact block
$contact-border-color: $mine-color;
$contact-button-bg: $mine-color;
$contact-button-color: $white;
$contact-button-bg: $gold
