// Colors
$mine-color: #9d8640;
$gold: #b7a261;
$gold-light: #e0ce93;
$sand: #fef6dd;
$sand-light: #f9f6ea;
$light-pink: #fdf4f4;

$gray: #d9d9d9;
$second-gray:   #e0ddd3;

$border-lite-color: $gold;
$border-bold: 5px solid;
$border-normal: 3px solid;

// Fonts
$sigmarOne:  'Sigmar One', sans-serif;
$body-background: $sand;

//Header
$logo-color: $mine-color;
$theme-button-bg: $gold;

//Contats profession Block
$ContatsProfessionBg: $sand;

//Data block
$data-image-bg: $gray;
$border-color: $second-gray;

//button block
$button-bg: $gold-light;
$button-border: $gold;

//services block
$services-border-color: $gold;