@use '../../base' as *;

.services {

  &__item-wrapper {
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 34px 28px;
  }

  &__item {
    background-color: $services-bg;
    border: 3px solid $services-border-color;
    border-radius: 9px;
    display: flex;
    overflow: hidden;
    max-width: 389px;
  }

  &__title {
    font: 700 getRem(24) 'Poppins';
    text-transform: capitalize;
  }

  &__item-title {
    font: 700 getRem(16) 'Inter'
  }

  &__item-description {
    padding-block: 18px;
    padding-inline: 15px;
  } 
}
