@use '../../base' as *;

.services {

  &__item-wrapper {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 34px 28px;
  }

  &__item {
    border: 3px solid $services-border-color;
    border-radius: 9px;
    display: flex;
    overflow: hidden;
    max-width: 389px;
  }

  &__title {
    font: 700 getRem(24) 'Poppins';
    text-transform: capitalize;
    
  }
}
