@use '../../base' as *;

.services {

  &__item {
    border: 3px solid $services-border-color;
    border-radius: 9px;
    display: flex;
    overflow
  }

  &__title {
    font: 700 getRem(24) 'Poppins';
    text-transform: capitalize;
    
  }
}
